// Feather icons
$icon-path: "~feather-icons/dist/icons";

$icons: (
    'search',
    'menu',
    'x',
    'arrow-left',
    'arrow-right'
);

@each $icon in $icons {
    .icon-#{$icon} {
        background-image: url('#{$icon-path}/#{$icon}.svg');
    }
}

.icon {
    &-default {
        height: 24px;
    }

    svg {
        stroke: $brand-dark;
    }
}

.icon-logo {
    background-image: url('../assets/logo.svg');
}
