// Feather icons
$icon-path: '~feather-icons/dist/icons';
$asset-path: '../assets';

$icons: (
    'search',
    'menu',
    'x',
    'arrow-left',
    'arrow-right',
    'facebook',
    'twitter',
    'video',
    'message-circle',
    'image',
);

$assets: (
    'logo',
    'youtube',
);
@each $icon in $icons {
    .icon-#{$icon} {
        background-image: url('#{$icon-path}/#{$icon}.svg');
    }
}

@each $asset in $assets {
    .#{$asset} {
        background-image: url('#{$asset-path}/#{$asset}.svg');
    }
}

.icon {
    @extend %pressed;

    &-default {
        height: 24px;
    }

    svg {
        stroke: $brand-dark;
    }

    &:hover {
        svg {
            stroke: $brand-primary;
        }
    }
}

