// Container gallery flex options
@mixin flex-gallery($columns:null, $margin-top:null, $margin-left:null) {
    display: flex;
    flex-wrap: wrap;
    @if $margin-top and $margin-left {
        margin: -#{$margin-left} 0 0 -#{$margin-left};
    }

    @if $columns {
        .col {
            display: flex;
            margin-top: $margin-top;
            margin-left: $margin-left;
            @if $margin-left {
                width: calc(100% * (1 / #{$columns}) - #{$margin-left});
            } @else {
                width: calc(100% * (1 / #{$columns}));
            }
        }
    }
}

%default-box {
    background-color: $white;
    box-shadow: 0 8px 40px rgba($brand-dark, 0.15);
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out;
    will-change: box-shadow;

    &:hover {
        box-shadow: 0 3px 20px rgba($brand-dark, 0.2);
    }
}

%button {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: $letter-spacing-sm;
    display: inline-block;
    padding: 0.6em 1.4em;
    border: 0;
    border-radius: 40px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    opacity: 1;

    &:active {
        transform: scale(0.97);
        opacity: 0.5;
    }
}

%button-sm {
    padding: 0.2em 0.8em;
}

%link-style {
    color: $brand-primary;
    position: relative;
    z-index: 100;

    &:hover {
        &::before {
            width: 100%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: rgba($brand-primary, 0.8);
        transition: width 0.15s ease-in-out;
    }
}

%pressed {
    &:active,
    &:focus,
    &:active:focus {
        transform: scale(0.95);
    }
}

// Utility classes
//-- Aligning text
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

//-- Aligning contents of flex box

.just-start {
    justify-content: flex-start;
}

.just-center {
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}


