// Brand colors
$white: #fff;
$brand-primary: #4848ec;
$brand-accent: #ec439d;
$brand-dark: #333;
$brand-black: #000;
$bg-color: #fafbff;
$border-color: darken($bg-color, 4%);

$text-color: rgba($brand-dark, 0.7);
$text-muted: rgba($brand-dark, 0.5);

// Social media colors
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #f00;

// Typography and font-size
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Lora', serif;
$font-size-base: 1.4rem;
$line-height-base: 1.5;
$line-height-sm: $line-height-base;
$line-height-md: $line-height-base + $line-height-base / 8;
$line-height-lg: $line-height-base + $line-height-base / 4;
$letter-spacing-sm: 0.3px;
$letter-spacing-md: 0.6px;
$letter-spacing-lg: 0.9px;

// Sizing 
$container-1280: 128rem;
$container-740: 74rem;
$container-640: 64rem;
$sidebar: 34rem;

// Easing
$cubic-bezier: cubic-bezier(.22, 1, .27, 1);
