.site-branding {
    position: relative;
    text-align: center;
    min-height: 368px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        color: $brand-dark;
        margin: 0.5em 0;
    }

    p {
        color: $text-muted;
    }

    canvas {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
    }
}

.social-media {
    margin: 1em 0;
    padding: 1em 0;
    border-top: 1px solid $border-color;
}

a.social-media-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 0.7em;

    &.facebook svg {
        stroke: $facebook;

        &:hover {
            opacity: 0.7;
        }
    }

    &.twitter svg {
        stroke: $twitter;

        &:hover {
            opacity: 0.7;
        }
    }

    &.youtube svg {
        path {
            stroke: $youtube;
        }

        polygon {
            fill: $youtube;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.grid-container-2 {
    @include flex-grid(2, 50px, 50px);
}
