.main-navigation {
    background-color: $white;
    border-bottom: 1px solid $border-color;
    max-height: 7rem;

    .menu {
        display: flex;
    }

    ul {
        display: flex;

        li {
            list-style: none;
        }
        
        li a {
            display: inline-block;
            margin: 0.7em;
            padding: 0.7em;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 700;
            color: $brand-dark;
        }
    }
}

.site-logo {
    background-image: url('../assets/logo.svg');
    background-repeat: no-repeat;
    width: 148px;
    height: 28px;
}
