.site-header {
    background-color: $white;
    border-bottom: 1px solid $border-color;
    max-height: 7rem;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > div, nav {
            width: (100% / 3);
        }
    }
}

nav.main-navigation {

    ul {
        display: flex;

        li {
            list-style: none;

            &.current-menu-item {
                a {
                    color: $brand-primary;
                }
            }
        }
        
        li a {
            display: inline-block;
            padding: 1.4em;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 700;
            color: $brand-dark;
            @extend %pressed;

            &:hover {
                color: $brand-primary;
            }
        }
    }
}

.site-logo {
    text-align: center;
    max-height: 26px;

    &-link {
        width: 180px;
        height: 26px;
        display: inline-block;
        transition: opacity 0.15s ease-in-out;

        &:hover {
            opacity: 0.7;
        }
    }
}

.site-navigation-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a:not(:last-child) {
        margin: 0 2em;
    }
}

a.nav-search {
    display: inline-block;
    width: 24px;
    height: 24px;
    @extend %pressed;

    &:hover {
        svg {
            stroke: $brand-primary;
        }
    }
}

.nav-menu {
    display: flex;
    position: relative;
    @extend %pressed;

    &:hover {
        span {
            color: $brand-primary;
        }

        svg {
            stroke: $brand-primary;
        }
    }

    &-label {
        font-size: 1.6rem;
        font-weight: 700;
        color: $brand-dark;
        margin-right: 1em;
    }
}
