.post-single,
.post-page {
    padding-bottom: 1px;

    .content-title {
        h1 {
            font-size: 3.8rem;
        }

        p {
            font-size: 1.8rem;
            margin: 0;
        }
    }

    a {
        @extend %link-style;
    }

    p,
    ul,
    ol {
        font-family: $font-secondary;
        font-size: 2.1rem;
        line-height: $line-height-lg;
        margin: 2em 0;
        color: rgba($brand-dark, 0.9);
    }

    img {
        max-width: 110%;
        position: relative;
        left: -6%;
    }

    figure {
        max-width: 100%;
    }
    
    figcaption {
        text-align: center;
        position: relative;
        left: -6%;
        margin: 0.5em 0;
    }

    ul,
    ol {
        padding: 0 2em;
    }

    blockquote p {
        font-size: 2.8rem;
        font-family: $font-secondary;
        line-height: $line-height-lg;
        font-weight: 400;
        font-style: italic;
        color: $brand-primary;
        text-align: center;
        border-left: 4px solid;
        background-color: rgba($border-color, 0.15);
        padding: 1em 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: -80px;
        margin-right: -80px;
        position: relative;
    }
}

.post-date {
    text-transform: uppercase;
    color: $text-muted;
    font-size: 1.2rem;
    letter-spacing: $letter-spacing-lg;
}

.post-banner {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// Related post list at the bottom of the article
.post-related {
    display: flex;
    overflow: hidden;
    padding-top: 1.2em;
}

.post-related a {
    background-color: $white;
    border: 1px solid $border-color;
    padding: 12px;

    &:hover {
        img {
            opacity: 0.8;
        }

        span {
            color: $brand-primary;
        }
    }

    img {
        max-width: 100%;
        height: 140px;
        object-fit: cover;
        left: 0;
        transition: all 0.15s ease-in-out;
    }

    span {
        color: $brand-dark;
        font-weight: 700;
        transition: all 0.15s ease-in-out;
    }
}

.post-related-container {
    @include flex-gallery(3, 20px, 20px);
}

// Related posts outer container
.crp_related { /* stylelint-disable-line */
    padding: 4em 0;
}

// Heading that comes into view on scroll
.scroll-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7rem;
    background-color: rgba($white, 0.97);
    text-align: center;
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
    transition: all 0.3s $cubic-bezier;
    overflow: hidden;
    z-index: 1000;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        width: 100%;
        background-color: $border-color;
        z-index: 50;
    }

    &.active {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }

    &-title {
        padding: 0 2em;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0%;
        height: 3px;
        background-color: $brand-primary;
        z-index: 100;
        transition: width 0.05s $cubic-bezier;
    }
}

// Post navigation inside the scrolling header
.post-navigation-previous,
.post-navigation-next {
    display: flex;
    align-items: center;

    .post-navigation-icon {
        svg {
            stroke: $brand-primary;
        }
    }

    &:hover {
        .post-navigation-icon {
            background-color: $brand-primary;
            border-color: transparent;

            svg {
                stroke: $white;
            }
        }
    }
}

.post-navigation-title {
    margin: 0 2em;

    small {
        text-transform: uppercase;
        font-weight: 700;
        color: $text-muted;
        letter-spacing: $letter-spacing-lg;
    }
}

.post-navigation-icon {
    padding: 1.5em;
    padding-top: 1.8em;
}

.post-navigation-previous {
    .post-navigation-icon {
        border-left: 1px solid $border-color;
    }
}

.post-navigation-next {
    .post-navigation-icon {
        border-right: 1px solid $border-color;
    }
}
