.search-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    z-index: 1000;
    justify-content: center;
    display: none;

    &.active {
        display: flex;
    }
}

.search-overlay-inner {
    margin-top: 12em;

    form.search-form {
        position: relative;
    }

    span.screen-reader-text {
        display: none;
    }

    input[type='search'] {
        font-family: $font-secondary;
        width: 100%;
        padding: 1.2em 0;
        margin-bottom: 1.2em;
        border: 0;
        outline: 0;
        border-bottom: 1px solid $border-color;
        transition: all 0.15s ease-in-out;

        &:focus {
            border-bottom-color: $brand-primary;
        }
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

a.search-close {
    position: absolute;
    top: 5em;
    right: 5em;
    display: block;
    width: 24px;
    height: 24px;

    &:hover {
        &.icon svg {
            stroke: $white;
        }

        &::before {
            background-color: $brand-primary;
        }

        &::after {
            color: rgba($white, 0.5);
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 64px;
        height: 64px;
        background-color: rgba($brand-dark, 0.05);
        border-radius: 60px;
        z-index: -1;
    }

    &::after {
        content: 'esc';
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $text-muted;
        letter-spacing: 1.2px;
        position: relative;
        top: -4px;
    }
}

.search-results {
    .content-title {
        padding: 1.2em 0;
    }

    .content-title h1 {
        font-size: 2.4rem;
        color: rgba($brand-dark, 0.7);
    }
}

.search-item {
    @extend %default-box;
    background-color: $white;
    padding: 2em;
    margin: 2em 0;

    &:first-child {
        margin-top: 0;
    }
}

.search-item-header {
    h2 {
        margin: 0;
    }

    h2 a {
        color: $brand-dark;
        @extend %pressed;

        &:hover {
            color: $brand-primary;
        }
    }
}

.search-item-meta {
    margin: 0.5em 0;

    a {
        @extend %link-style;
        @extend %pressed;
    }
}

.search-item-summary {
    margin: 1.2em 0;
    line-height: $line-height-lg;
}
