.sidebar {
    background-color: $white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: $sidebar;
    border-left: 1px solid $border-color;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.15s ease-in-out;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em;
        height: 7rem;
        border-bottom: 1px solid $border-color;
    }

    &-inner {
        // padding: 1.35em 2em;
    }

    &.active {
        transform: translate(0);
    }
}

section.widget {
    border-bottom: 1px solid $border-color;
    padding: 1.2em 2em;

    ul li {
        list-style: none;
    }

    a {
        @extend %link-style;
    }
}
